/**
 * Content Sections
 */
.section {
  margin-bottom: 3.75rem;
  min-height: 110vh;

  &:first-child {
    padding-top: 3.75rem;
  }

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 3.75em;
  }

  .container + .container {
    margin-top: 2.25rem;
  }
}

.bg-blue,
.bg-gray,
.bg-dark,
.has-bg {
  padding-bottom: 3.75em;
  padding-top: 3.75em;
}

.bg-blue {
  background-color: $color-inverse-bg;
}

.bg-dark {
    background-color: $color-inverse-bg-dark;
}

.bg-gray {
  background-color: $color-bg-alt;
}

.section__media,
.section__body {
  position: relative;
  padding-top: 3rem;
  text-align: center;
}

.section__actions {
  a {
    &:not(.btn) {
      font-weight: 700;
    }
  }
}
.fivexl-badge {
    width:45%;
}

.hero,
.section--features {
  .cell {
    max-width: $width-md;

    &:only-child {
      flex: 0 0 100%;
    }
  }
}

.hero {
  &:first-child {
    &:not(.section--padding) {
      margin-bottom: 2.25rem;
      padding-bottom: 0;
    }
  }
}
.hero {
    .bg-image__image {
        background-image:url('/images/hero-bg.png');
        opacity:0.7;
        background-size:cover;
        background-repeat:no-repeat
    }
    .section__body {
        background-color:white;
        opacity: 0.7;
        position: absolute;
        top:70%;
    }
    .section__title {
        font-size: 2.5rem;
    }

    .section__copy {
        text-align: center;
        font-size: 1.25em;
        font-weight: 600;
    }
}

.section--features, .section--posts, .section--cta {
    background-position: center;
    background-size: cover;
    background: url("/images/wall-bg-fixed.jpg") repeat-y;
    margin-top: -3.75rem;
    color: $color-blockquote;

  .flex {
    margin-bottom: 3.75rem;
  }
  
}

.section__copy {
    text-align: left;
}

.section--team,
.section--posts {
  .cell {
    margin-bottom: 1.5rem;
    max-width: $width-sm;
  }
}

.section--team {
  .card__media {
    margin-top: auto;
    padding-top: 100%;
    position: relative;
  
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
}

/* Make bg image responsive */
@media (max-width: 480px) {
    .hero {
        .bg-image__image {
            background-image: url("/images/hero-bg-960px.png");
        }
    }   
}

@media (min-width: 481px) and (max-width: 1024px) {
    .hero {
        .bg-image__image {
            background-image: url("/images/hero-bg-960px.png");
        }
    }
}

@media (min-width: 1025px) {
    .hero {
        .bg-image__image {
            background-image: url("/images/hero-bg.png");
        }
    }
}


.section--cta {
  .bg-blue,
  .bg-dark,
  .bg-gray {
    border-radius: 3px;
  }
}

@include media-breakpoint-up(md) {
  .section__media {
    &--right {
      order: 1;
    }
  }
}


@include media-breakpoint-down(md) {
  .section__media {
    margin-bottom: 1.5rem;
  }

  .section--team,
  .section--posts {
    .flex {
      justify-content: center;
    }
  }
}
