/**
 * Content Sections
 */
.section {
  margin-bottom: 3.75rem;
  min-height: 100vh;

  &:first-child {
    padding-top: 3.75rem;
  }

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 3.75em;
  }

  .container + .container {
    margin-top: 2.25rem;
  }
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 4px solid white;
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}

.bg-blue,
.bg-gray,
.bg-dark,
.has-bg {
  padding-bottom: 3.75em;
  padding-top: 3.75em;
}

.bg-blue {
  background-color: $color-inverse-bg;
}

.bg-dark {
    background-color: $color-inverse-bg-dark;
}

.bg-gray {
  background-color: $color-bg-alt;
}

.section__media,
.section__body {
  position: relative;
  padding-top: 3rem;
  text-align: center;
}

.section__actions {
  a {
    &:not(.btn) {
      font-weight: 700;
    }
  }
}

.hero,
.section--features {
    background: url("/images/section_image.jpg") rgba(51, 51, 51, 0.8);
    background-blend-mode: multiply;
    color: white;

  .cell {
    max-width: $width-md;

    &:only-child {
      flex: 0 0 100%;
    }
  }
}

.hero {
  &:first-child {
    &:not(.section--padding) {
      margin-bottom: 2.25rem;
      padding-bottom: 0;
    }
  }
}
.hero {
    .section__title {
        color: white;
    }
    .section__body {
        padding-top: 16rem;
        color: white;
    }

    .section__copy {
        text-align: center;
        font-size: 1.25em;
        font-weight: 600;
    }
}

.section--features {
    margin-top: -3rem;
  .flex {
    margin-bottom: 3.75rem;
  }

}

.section__copy {
    text-align: left;
}

.section--team,
.section--posts {
  .cell {
    margin-bottom: 1.5rem;
    max-width: $width-sm;
  }
}

.section--team {
  .card__media {
    margin-top: auto;
    padding-top: 100%;
    position: relative;
  
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
}

.section--cta {
  .bg-blue,
  .bg-dark,
  .bg-gray {
    border-radius: 3px;
  }
}

@include media-breakpoint-up(md) {
  .section__media {
    &--right {
      order: 1;
    }
  }
}

@include media-breakpoint-down(md) {
  .section__media {
    margin-bottom: 1.5rem;
  }

  .section--team,
  .section--posts {
    .flex {
      justify-content: center;
    }
  }
}
