/**
 * Site Layout
 */
.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  background: #333;
  color: white
}

.site-content {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
}
